<% include ../partials/header %>

<div class="container">
    <div class="row jumbotron">
        <h2>Edit <%= brunch.name %></h2>
        <div class="forms">
            <form action="/brunches/<%= brunch._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="brunch[name]" value="<%= brunch.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="brunch[image]" value="<%= brunch.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="brunch[url]" value="<%= brunch.url %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="brunch[mapurl]" value="<%= brunch.mapurl %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="brunch[cost]" value="<%= brunch.cost %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="brunch[wait]" value="<%= brunch.wait %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="brunch[coffee]" value="<%= brunch.coffee %>">
                </div>

                <div class="form-group">
                  <textarea class="form-control" name="brunch[about]" rows="4" cols="50"><%= brunch.about %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/brunches">Go Back</a>
        </div>
    </div>
</div>
<br>
<% include ../partials/footer %>
